# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3
test.db
backend/test.db

# Environment variables / Secrets
.env
*.env
backend/.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
cobertura/

# IDE / Editor configurations
.vscode/
.idea/

# Frontend builds and dependencies
node_modules/
dist/
